<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jquerymobile/1.4.5/jquery.mobile.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquerymobile/1.4.5/jquery.mobile.min.js"></script>    
  </head>
  <body>
    <div data-role="page">

      <div data-role="header">
        <h1>Error</h1>
      </div>

      {% if error %}
      <div data-role="content">	
        <div>
        {{ error }}
        </div>
        <a href="{{ app.request.basepath }}/index#search" data-ajax="false" data-role="button">Try again</a>
      </div>
      {% endif %}

    </div>

  </body>
</html>


