<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jquerymobile/1.4.5/jquery.mobile.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquerymobile/1.4.5/jquery.mobile.min.js"></script>    
  </head>
  <body>
  
    <div data-role="page">

      <div data-role="header">
        <h1>Log Out</h1>
      </div>

      <div data-role="content">	
        You are now signed out of the application. However, since you originally signed in using your Google Account, you must also sign out of your Google Account to completely destroy your session.
        <br/>
        <a href="{{ app.request.basepath }}/index#search" data-role="button" data-ajax="false">Back</a>
        <a href="https://accounts.google.com/Logout" data-role="button" data-ajax="false">Sign out of Google</a>
      </div>
      
    </div>
    
  </body>
</html>


